---
import Contacts from "./Contacts.astro";
import Social from "./Social.astro";
import Legal from "./Legal.astro";
import Copyright from "./Copyright.astro";
---

<footer class="bg-gray-50 border-gray-200 py-12">
  <div class="max-w-7xl mx-auto px-6 grid gap-10 md:grid-cols-3 md:gap-8">
    <!-- Company + Socials -->
    <div class="flex flex-col items-center">
      <h2 class="text-xl font-semibold text-gray-900 mb-2">CleanCo</h2>

      <Social />
    </div>

    <!-- Contact us -->
    <Contacts />

    <!-- Legal -->
    <Legal />
  </div>

  <!-- Bottom copyright -->
  <Copyright />
</footer>
