---
import DesktopNav from "./DesktopNav.astro"
import MobileNav from "./MobileNav.astro"
---

<!-- Desktop Navigation -->
<DesktopNav />

<!-- Mobile Menu Button -->
<button 
    id="menu-button" 
    class="md:hidden text-gray-700 text-2xl aria-expanded:"
    aria-label="Open Menu"
>
    ☰
</button>

<!-- Mobile Navigation -->
<MobileNav />