---
const { title, description } = Astro.props;
---

<div
  class="bg-white rounded-xl shadow-md p-6 transition hover:-translate-y-1 hover:shadow-xl border border-gray-100 flex flex-col h-full">
  <h2 class="text-lg font-semibold mb-3">{title}</h2>
  <p class="text-gray-600 flex-1">{description}</p>
</div>
